language: php

php:
  - 7.1
  - 7.2

# cache vendor dirs
cache:
  directories:
    - vendor
    - $HOME/.composer/cache

install:
  - composer self-update
  - composer install

script:
  - phpunit --coverage-clover=coverage.clover

